@import '../../../scss/colors.scss';
@import '../../../scss/sizes.scss';
.Navbar {
	padding: 0 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	width: 100%;
	background-color: $base-blue;
	height: $navbar-height;
}
