.Button {
	font-size: 2rem;
	font-family: inherit;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	height: 120px;
	width: 100%;
	padding: 1.5rem;
	border: 1px solid black;
	border-radius: 20px;
	background-color: white;
	outline: none;
	cursor: pointer;
}
