@import '../../scss/sizes.scss';

.Layout {
	padding: $navbar-height 120px $footer-height 120px;
	height: 100vh;
	padding-top: $navbar-height;
	position: relative;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.LeftSide,
.RightSide {
	width: 50%;
}

.LeftSide {
	text-align: left;
	padding-right: 120px;
}
.RightSide {
	padding-left: 120px;
}

p {
	margin: 0;
	padding: 0;
}
