@import '../../scss/colors.scss';
@import '../../scss/sizes.scss';
.Footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $footer-height;
	padding-right: 128px;
	text-align: end;
	background-color: $base-pink;
	z-index: -10;
}
