@import '../../scss/colors.scss';
.FlashcardsEditDecks {
	width: 100%;
	height: 100%;
	padding: 120px 0;
	display: flex;
	flex-direction: row;

	.LeftSide,
	.RightSide {
		height: 100%;
	}

	.RightSide {
		display: flex;
		flex-direction: column;
		height: 100%;
		row-gap: 18px;
	}

	.Decks {
		position: relative;
		width: 100%;
		height: 100%;
		border: 1px solid black;
	}

	.YourDecks {
		text-align: center;
	}

	.DeckList {
		height: calc(100% - 5rem);
		overflow-y: scroll;
	}

	.YourDecks,
	.DeckItem {
		padding: 0.5rem 0.75rem;
		border-bottom: 1px solid black;
		line-height: 100%;
	}
	.DeckItem {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.DeckName {
			display: block;

			width: 100%;
		}

		.DeckItemsControl {
			display: flex;
			flex-direction: row;
			.DeckStudy {
				border: 1px solid black;
				height: 40px;
				padding: 8px 8px;
				margin: -8px 0;
				font-size: 24px;
			}
			.DeleteDeckItem,
			.ChoseDeckItem {
				height: 40px;
				width: 40px;
				padding: 8px 8px;
				margin: -8px 0;
				font-size: 24px;
				text-align: center;
				transition: all 0.2s;
			}

			.DeleteDeckItem:hover {
				color: #f00;
			}
			.ChoseDeckItem:hover {
				color: #555;
			}
			.ChoseDeckItem.ChoseDeckItemActive {
				color: #555;
				transform: rotate(90deg);
			}
		}
	}
	.AddDeckLabel {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		color: #575757;
		border-top: 1px solid black;
	}

	.AddDeckText {
		text-decoration: none;
		font-style: normal;
		display: block;
		height: 2rem;
		width: 100%;
		line-height: 2rem;
		background-color: white;
	}

	.AddDeckText::before {
		content: '+';
		font-size: inherit;
		line-height: inherit;
		font-weight: 900;
		padding: 4px;
		background-color: white;
	}

	.AddDeckInput {
		height: 1.5rem;
		padding: 0;
		width: 100%;
		border: 0;
		border-top: 1px solid black;
		border-radius: 0;
		line-height: 1.5rem;
	}

	.AddDeckInput:focus {
		outline: 2px solid $base-blue;
		border: none;
	}

	.FlashcardsEditDecks .RightSide {
		display: flex;
		flex-direction: column;
		height: 100%;
		row-gap: 18px;
	}

	.FlashcardControls {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
	.AddCardsModal {
		display: flex;
		height: 100%;
		flex-direction: column;
		align-items: center;
	}
	.AddCardsTitle {
		font-size: 1.5rem;
		line-height: 300%;
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.AddCardsList {
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	.CardItem {
		display: flex;
		flex-direction: row;
		width: 100%;
		padding: 0.25rem 0;
		border-bottom: 1px solid black;
	}

	.CardItemText {
		display: block;
		width: 50%;
	}

	.AddCardsInput {
		display: flex;
		position: relative;
		margin-top: 2rem;
		column-gap: 2rem;
	}
	.AddCardsInput > div {
		width: 50%;
	}

	.AddCardsInput .AddCardButton {
		position: absolute;
		right: 0;
		display: block;
		padding: 4px;
		font-weight: 900;
		font-size: inherit;
		line-height: inherit;
	}

	.AddCardButton:hover {
		color: #5b7352;
	}

	.AddCardsArray {
		//width taken from design
		width: 480 / (720 - 144) * 100%;
		padding-bottom: 40px;
	}
}
