@import '../../scss/colors.scss';
.FlashcardsEditDecks {
	width: 100%;
	height: 100%;
	padding: 120px 0;
	display: flex;
	flex-direction: row;
}

.FlashcardsEditDecks .LeftSide,
.FlashcardsEditDecks .RightSide {
	height: 100%;
}

.Decks {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

.YourDecks {
	text-align: center;
}

.DeckList {
	height: calc(100% - 5rem);
	overflow-y: scroll;
}

.YourDecks,
.DeckItem {
	padding: 0.5rem 0.75rem;
	border-bottom: 1px solid black;
	line-height: 100%;
}
.DeckItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.DeckItemsControl {
	display: flex;
	flex-direction: row;
}
.DeckItemsControl .DeleteDeckItem,
.DeckItemsControl .ChoseDeckItem {
	height: 40px;
	width: 40px;
	padding: 8px 8px;
	margin: -8px 0;
	font-size: 24px;
	text-align: center;
	transition: all 0.2s;
}

.DeckItemsControl .DeleteDeckItem:hover {
	color: #f00;
}
.DeckItemsControl .ChoseDeckItem:hover {
	color: #555;
}
.DeckItemsControl .ChoseDeckItem.ChoseDeckItemActive {
	color: #555;
	transform: rotate(90deg);
}
.AddDeckLabel {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #575757;
	border-top: 1px solid black;
}

.AddDeckText {
	text-decoration: none;
	font-style: normal;
	display: block;
	height: 2rem;
	width: 100%;
	line-height: 2rem;
	background-color: white;
}

.AddDeckText::before {
	content: '+';
	font-size: inherit;
	line-height: inherit;
	font-weight: 900;
	padding: 4px;
	background-color: white;
}

.AddDeckInput {
	height: 1.5rem;
	padding: 0;
	width: 100%;
	border: 0;
	border-top: 1px solid black;
	border-radius: 0;
	line-height: 1.5rem;
}

.AddDeckInput:focus {
	outline: 2px solid $base-blue;
	border: none;
}

.FlashcardsEditDecks .RightSide {
	display: flex;
	flex-direction: column;
	height: 100%;
	row-gap: 18px;
}

.FlashcardControls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
