.NavigationItems {
	list-style: none;
	color: inherit;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: inherit;
}

.Logo {
	height: 48px;
	font-size: 48px;
	line-height: 100%;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.NavRightSide {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-left: auto;
}

.NavRightSide > * {
	margin-left: 60px;
}
