.Flashcards {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.Flashcards .LeftSide {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.FlashcardsDeckList {
	width: 100%;
	height: 100%;
	padding: 10% 0;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.FlashcardsDeckList .DeckItem {
	border-bottom: 1px solid black;
	width: 100%;
	text-align: center;
}
